.nav-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding: 40px;
    color: #c2bfbf;
    position: fixed;
    top: 0;
}

nav{
    display: flex;
    box-sizing: content-box;
    align-items: center;
    margin: 0;
    height: 100%;
}

nav a {
    text-decoration: none;
    height: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    display: block;
    color: #c2bfbf;
}

nav a:hover {
    color: #ffffff;
}
nav a:active {
    transform: scale(0.98);
}

.logo{
    font-size: 30px;
}